html,
body {
 height: 100%;
 position: relative;
 font-family: Arial, Helvetica, sans-serif;
 margin:0;
}

/* Header/logo Title */
.header {
    padding: 3rem;
    text-align: center;
    color: white;
}
#home{
    background: #888888;
    background-image: url("../img/ChicagoFireworks.jpg");
    background-size: cover;
}
.iconheader{
    height: 1.5rem;
    width: 1.5rem;
    padding: .75rem .8rem;
}
/* Increase the font size of the heading */
.header h1 {
    font-size: 2rem;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    background: rgba(0, 0, 0, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar a.text{
    padding: 1rem 1.3rem;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}
.navbar .icon {
  display: none;
}
.pad{
    padding: 1rem;
}

img {
    max-width:100%;
    height:auto;
}
.textcenter{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.column {
 float: left;
 width: 33%;
}
/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}
.clear { clear: both; height: 7rem; }
/* Footer */
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
  /* background: rgba(0, 0, 0,.8); /*0.8);*/
  background: rgba(0, 0, 0); /*0.8);*/
  color: white;
  position:fixed;
  bottom:0;
  width:100%;
}
.footer a {
    color:	#707070;
}
.footer .blank{

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 63rem) {
  .column {
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* When the screen is less than 1000 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 63rem) {
 /* .navbar a {display: none;} */
 .navbar a:not(:first-child) {display: none;}
 .navbar a.icon {
   float: right;
   display: block;
 }
}
@media screen and (min-width: 63rem){
    .blank{
      display: none;
    }
  }


/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 63rem) {
 /* .navbar.responsive {position: relative;} */
 .clear { height: 14rem; }
 .navbar.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .navbar.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
}
